
//http://fontsgeek.com/fonts/Gotham-Book-Regular


/*
@font-face {
    font-family: 'Gotham-Black';
    src: url('../assets/fonts/Gotham-Black.eot');
    src: url('../assets/fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Gotham-Black.svg#Gotham-Black') format('svg'),
         url('../assets/fonts/Gotham-Black.ttf') format('truetype'),
         url('../assets/fonts/Gotham-Black.woff') format('woff'),
         url('../assets/fonts/Gotham-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham-Medium';
    src: url('../assets/fonts/Gotham-Medium.eot');
    src: url('../assets/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Gotham-Medium.svg#Gotham-Medium') format('svg'),
         url('../assets/fonts/Gotham-Medium.ttf') format('truetype'),
         url('../assets/fonts/Gotham-Medium.woff') format('woff'),
         url('../assets/fonts/Gotham-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham-Bold';
    src: url('../assets/fonts/Gotham-Bold.eot');
    src: url('../assets/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Gotham-Bold.svg#Gotham-Bold') format('svg'),
         url('../assets/fonts/Gotham-Bold.ttf') format('truetype'),
         url('../assets/fonts/Gotham-Bold.woff') format('woff'),
         url('../assets/fonts/Gotham-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Gotham-Book';
    src: url('../assets/fonts/Gotham-Book.eot');
    src: url('../assets/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Gotham-Book.svg#Gotham-Book') format('svg'),
         url('../assets/fonts/Gotham-Book.ttf') format('truetype'),
         url('../assets/fonts/Gotham-Book.woff') format('woff'),
         url('../assets/fonts/Gotham-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  */



@font-face {
    font-family: 'Gotham';
    font-weight: bold;
    font-style: normal;
    src: url('../assets/fonts/Gotham-Bold.eot');
    src: url('../assets/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Gotham-Bold.svg#Gotham-Bold') format('svg'),
         url('../assets/fonts/Gotham-Bold.ttf') format('truetype'),
         url('../assets/fonts/Gotham-Bold.woff') format('woff'),
         url('../assets/fonts/Gotham-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Gotham';
    font-weight: 100;
    font-style: normal;
    src: url('../assets/fonts/Gotham-Book.eot');
    src: url('../assets/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Gotham-Book.svg#Gotham-Book') format('svg'),
         url('../assets/fonts/Gotham-Book.ttf') format('truetype'),
         url('../assets/fonts/Gotham-Book.woff') format('woff'),
         url('../assets/fonts/Gotham-Book.woff2') format('woff2');
}

@font-face {
    font-family: 'Gotham';
    font-weight: 200;
    font-style: normal;
    src: url('../assets/fonts/Gotham-Book.eot');
    src: url('../assets/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Gotham-Book.svg#Gotham-Book') format('svg'),
         url('../assets/fonts/Gotham-Book.ttf') format('truetype'),
         url('../assets/fonts/Gotham-Book.woff') format('woff'),
         url('../assets/fonts/Gotham-Book.woff2') format('woff2');
}

@font-face {
    font-family: 'Gotham';
    font-weight: 300;
    font-style: normal;
    src: url('../assets/fonts/Gotham-Book.eot');
    src: url('../assets/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Gotham-Book.svg#Gotham-Book') format('svg'),
         url('../assets/fonts/Gotham-Book.ttf') format('truetype'),
         url('../assets/fonts/Gotham-Book.woff') format('woff'),
         url('../assets/fonts/Gotham-Book.woff2') format('woff2');
}

@font-face {
    font-family: 'Gotham';
    font-weight: 400;
    font-style: normal;
    src: url('../assets/fonts/Gotham-Book.eot');
    src: url('../assets/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Gotham-Book.svg#Gotham-Book') format('svg'),
         url('../assets/fonts/Gotham-Book.ttf') format('truetype'),
         url('../assets/fonts/Gotham-Book.woff') format('woff'),
         url('../assets/fonts/Gotham-Book.woff2') format('woff2');
}

@font-face {
    font-family: 'Gotham';
    font-weight: 500;
    font-style: normal;
    src: url('../assets/fonts/Gotham-Medium.eot');
    src: url('../assets/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Gotham-Medium.svg#Gotham-Medium') format('svg'),
         url('../assets/fonts/Gotham-Medium.ttf') format('truetype'),
         url('../assets/fonts/Gotham-Medium.woff') format('woff'),
         url('../assets/fonts/Gotham-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Gotham';
    font-weight: 600;
    font-style: normal;
    src: url('../assets/fonts/Gotham-Medium.eot');
    src: url('../assets/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Gotham-Medium.svg#Gotham-Medium') format('svg'),
         url('../assets/fonts/Gotham-Medium.ttf') format('truetype'),
         url('../assets/fonts/Gotham-Medium.woff') format('woff'),
         url('../assets/fonts/Gotham-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Gotham';
    font-weight: 700;
    font-style: normal;
    src: url('../assets/fonts/Gotham-Medium.eot');
    src: url('../assets/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Gotham-Medium.svg#Gotham-Medium') format('svg'),
         url('../assets/fonts/Gotham-Medium.ttf') format('truetype'),
         url('../assets/fonts/Gotham-Medium.woff') format('woff'),
         url('../assets/fonts/Gotham-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Gotham';
    font-weight: 800;
    font-style: normal;
    src: url('../assets/fonts/Gotham-Black.eot');
    src: url('../assets/fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Gotham-Black.svg#Gotham-Black') format('svg'),
         url('../assets/fonts/Gotham-Black.ttf') format('truetype'),
         url('../assets/fonts/Gotham-Black.woff') format('woff'),
         url('../assets/fonts/Gotham-Black.woff2') format('woff2');
}

@font-face {
    font-family: 'Gotham';
    font-weight: 900;
    font-style: normal;
    src: url('../assets/fonts/Gotham-Black.eot');
    src: url('../assets/fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Gotham-Black.svg#Gotham-Black') format('svg'),
         url('../assets/fonts/Gotham-Black.ttf') format('truetype'),
         url('../assets/fonts/Gotham-Black.woff') format('woff'),
         url('../assets/fonts/Gotham-Black.woff2') format('woff2');
}

p {
    font-family: 'Gotham', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gotham', sans-serif;
}
